:root {
  --background_colour: rgb(24, 24, 24);
  --border-color: rgb(0, 180, 0);
  --title-color: rgb(0, 180, 0);
  --text-color: #A9A9A9;
}

body {
  background-color: var(--background_colour);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

header {
  border-bottom: 2px solid var(--title-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  text-align: center;
}

.header-link {
  display: inline;
  margin-left: 2rem;
}

h1 {
  font-size: 36px;
  line-height: 1.5;
  margin: 0;
  font-family: "Lucida Console";
  color: var(--title-color);
  letter-spacing: -1px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 6px;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: grey;
}

a {
  text-decoration: none;
  transition-duration: .32s;
  transition-timing-function: ease-in-out;
}

.main-title {
  margin-top: 80px;
  margin-left: 80px;
}

.text {
  color: var(--text-color);
}